<!DOCTYPE html>
<html>
  <head>
    <title>RoomMe</title>
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <link rel="icon" href="http://www.projet-r.com/images/favicon_r.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" href="/static/css/questionnaire.css">
  </head>
  <body>

    <h1 class="ui centered header" id="header">
      Questionnaire
    </h1>
    
    <div class="container">
      <div class="ui two column centered grid" id="startDiv">

      </div>
    </div>

    
    
</body>

<!-- js scripts -->
  <script src="/static/js/api.js"></script>
  <script src="/static/js/questionnaire/questionnaireData.js"></script>
  <script src="/static/js/questionnaire/questionnaire.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/static/semantic/dist/semantic.min.js"></script>
</html>